@import "../../colors/index.scss";

.loader_container {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    opacity: 0.2;
    font-size: 25px;
    font-weight: bold;
    color: $secondary;
    animation: flash 0.8s linear infinite;
  }
}

@keyframes flash {
  to {
    opacity: 1;
  }
}
